<html>
  <head>
    {% load static %}
    <title>HECAD</title>
    <link rel="shortcut icon" type="image/png" href="{% static "login/H.jpg" %}"/>
    <link href="{% static "login/style.css" %}" rel="stylesheet">
    <link href="{% static "login/bootstrap/CSS/bootstrap.css" %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <a class="navbar-brand" href="/hecad/">HECAD</a>
          </a>
        </div>
      </div>
  </nav>



<form action="." method="post">
  {{car_form.as_p }}
  {% csrf_token %}
  <p><input type="submit" value="Agregar Vehiculo"></p>
</form>








